

@{
    ViewBag.Title = "DashboardLevel2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" card card-success" id="menucontainer">
    <div class="content-wrapper" style="background-color:white !important">
        <div class=" card-body">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">

                        <div class="col-sm-12">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item "><a href="@Url.Action("DashboardDetails","Home")">Dashboard</a></li>
                                <li class="breadcrumb-item "><a href="@Url.Action("DashboardLevel2","Home")">Region </a></li>
                                <li class="breadcrumb-item "><a href="@Url.Action("DashboardLevel3","Home")">Zone </a></li>
                                <li class="breadcrumb-item active"><a href="@Url.Action("DashboardLevel4","Home")">Territory </a></li>
                                <li class="breadcrumb-item active"><a href="@Url.Action("DashboardLevel5","Home")"></a>Party </li>

                            </ol>
                        </div>
                        @*<div class="col-sm-6">
                                <h1 class="m-0 text-dark">Dashboard</h1>
                            </div>*@
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-lightgray">

                            <span class="info-box-icon bg-aqua">
                                <a href="/Home/DashboardLevel5">

                                    <i class="fa fa-user"></i>
                                    </a>
</span>

                            <div class="info-box-content">
                                <span >Angari Brothers Zari Markaz Pull Datt. - (F) (14-1283)</span>
                                <span class="info-box-number"> 90/110</span>
                                <span>
                                    <a href="/Home/DrillDown">
                                        <h7 style="font-size:15px;text-align:end;"> Details</h7>
                                    </a>
                                </span>
                            </div>

                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-lightgray">
                            <span class="info-box-icon bg-yellow">
                                <a href="/Home/DashboardLevel5">

                                    <i class="fa fa-list "></i>
                                    </a>
</span>

                            <div class="info-box-content">
                                <span >Khizar Zari Service, Kot Chutta. (14-4611)</span>
                                <span class="info-box-number">41/100</span>
                                <span>
                                    <a href="/Home/DrillDown"> <h7 style="font-size:15px;text-align:end;"> Details</h7> </a>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-lightgray">
                            <span class="info-box-icon bg-green">
                                <a href="/Home/DashboardLevel5">

                                    <i class="fa fa-amazon"></i>
                                    </a>
</span>

                            <div class="info-box-content">
                                <span >New Arbi Brothers , Chowk Churhatta , D.G.Khan. (14-4766)</span>
                                <span class="info-box-number">76/90</span>
                                <span>
                                    <a href="/Home/DrillDown"><h7 style="font-size:15px;text-align:end;"> Details</h7> </a>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    
                </div>
                <div style="height:20px;">

                </div>
                <div class=" row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-lightgray">
                            <span class="info-box-icon bg-yellow">
                                <a href="/Home/DashboardLevel5">

                                    <i class="fa fa-tag "></i>
                                    </a>
</span>

                            <div class="info-box-content">
                                <span >New Gabool Brothers Zari Service , Paigan -D.G.KHAN (14-4665)</span>
                                <span class="info-box-number">29/50</span>
                                <span>
                                    <a href="/Home/DrillDown"> <h7 style="font-size:15px;text-align:end;"> Details</h7> </a>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-lightgray">
                            <span class="info-box-icon bg-green">
                                <a href="/Home/DashboardLevel5">

                                    <i class="fa fa-amazon"></i>
                                    </a>
</span>

                            <div class="info-box-content">
                                <span >Rana Agro Traders Mana Ahmadani D.G Khan (14-1077)</span>
                                <span class="info-box-number">76/90</span>
                                <span>
                                    <a href="/Home/DrillDown"> <h7 style="font-size:15px;text-align:end;"> Details</h7> </a>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-lightgray">
                            <span class="info-box-icon bg-green">
                                    <i class="fa fa-tag "></i>
                                    </a>
</span>

                            <div class="info-box-content">
                                <span >Sikhani Brothers Zari Service - (F) (14-1332)</span>
                                <span class="info-box-number">29/50</span>
                                <span>
                                    <a href="/Home/DrillDown"><h7 style="font-size:15px;text-align:end;"> Details</h7> </a>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    

                    
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-lightgray">
                            <span class="info-box-icon bg-aqua">
                                <a href="/Home/DashboardLevel5">

                                    <i class="fa fa-user"></i>
                                    </a>
</span>

                            <div class="info-box-content">
                                <span >Umair Zari Service Kot Chutta (14-3364)</span>
                                <span class="info-box-number">90/110</span>
                                <span>
                                    <a href="/Home/DrillDown"> <h7 style="font-size:15px;text-align:end;"> Details</h7> </a>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
                
            </div>
        </div>



    </div>
</div>


