@model IEnumerable<dynamic>

@{
    ViewBag.Title = "DashboardLevel3";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SessionUser user = Session["User"] as SessionUser;


    List<string> ColorList = new List<string>() {
"#3CC7F7",
"#F5D58B",
"#A0F58B",
"#F27F91",
"#D6B2EE",
"#F9AD6F",
"#F5B7B1",
"#C2E2F7",
"#88EDF5",
"#D2ADF4"
 };
    int i = 0;
}

<div class=" card card-success" id="menucontainer">
    <div class="content-wrapper" style="background-color:white !important">
        <div class=" card-body">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">

                        <div class="col-sm-12">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="@Url.Action("Dashboard","Home")">Home</a></li>
                                <li class="breadcrumb-item "><a href="@Url.Action("DashboardLevel2","FAS", new { Type = Request.QueryString["Type"]})">@user.Compabb </a></li>
                                @if (ViewBag.Region == null)
    {
                            <li class="breadcrumb-item active"><a href="#/"> </a>Zones for All Regions </li>

}
else
{
                            <li class="breadcrumb-item active"><a href="#/"> </a>@ViewBag.Region </li>

}

                            </ol>
                        </div>
                        @*<div class="col-sm-6">
                                <h1 class="m-0 text-dark">Dashboard</h1>
                            </div>*@
                    </div>

                </div>
                <div class="row">
                    @foreach (var element in Model)
                    {
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box " style="background-color:@ColorList[i]">

                                <span class="info-box-content">
                                    <a href="#">
                                        <span style="color:black!important" data-type="@Request.QueryString["Type"]" data-id="@element.VID" class="info-box-text r1">@element.VName</span>
                                        <span style="color:black!important" class="info-box-number"> @element.PP/@element.Total</span>
                                        <span style="color:black!important" class="info-box-number"> @element.Per%</span>

                                    </a>
                                </span>

                                <div class="info-box-content">

                                    <span style="float:right!important;margin-top:45px">
                                        <a href="@Url.Action("Details", "FAS", new {Type = Request.QueryString["Type"], Region= Request.QueryString["Region"] , Zone = element.VID})">
                                            <h7 style="font-size:15px;text-align:end;color:black!important"> Details</h7>
                                        </a>
                                    </span>
                                </div>

                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        i++;
                        if (i >= 10)
                        {
                            i = 0;
                        }
                    }


                    <input type="hidden" id="RegionVal" value="@Request.QueryString["Region"]">


                </div>

            </div>
        </div>



    </div>
</div>






@section Scripts{

    <script>
        $(document).on('click', '.r1', function () {
            var Zone = $(this).data("id");

            var Region = $("#RegionVal").val();

            var Type = $(this).data("type")
            window.location = '@Url.Action("DashboardLevel4", "FAS")' + "?" +  "Region=" + Region + "&Zone=" + Zone + "&Type=" + Type;
            //$("#name").html(Region);
            //alert(Region);
            //var test = $("#name").val();
            //alert(test);
        });


    </script>
}
