@using Newtonsoft.Json
@using SmartApp.Models.DBModels
@using SmartApp.Models.ViewModels;
@model SmartApp.Models.ViewModels.FASViewModel
@{
    ViewBag.Title = "FAS";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //SessionUser user = new SessionUser();

    SessionUser user = Session["User"] as SessionUser;

    //List<CreditDebit> CreditDebit = ViewBag.CreditDebit as List<CreditDebit>;

    //if (CreditDebit == null)
    //{
    //    CreditDebit = new List<SmartApp.Models.DBModels.CreditDebit>();
    //}
}

<style>
    .form-group .select2-container {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        display: table;
        table-layout: fixed;
    }

 
</style>




<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                @*<div class="col-sm-6">
                        <h1 class="m-0 text-dark">FAS</h1>
                    </div>*@<!-- /.col -->
                <div class="col-sm-12">

                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Home/Dashboard">Home</a></li>
                        <li class="breadcrumb-item "><a href="@Url.Action("DashboardLevel2","FAS", new { Type=Request.QueryString["Type"]})">@user.CompanyName </a></li>
                        @if (ViewBag.Region == null)
                        {
                            <li class="breadcrumb-item active"><a href="@Url.Action("DashboardLevel3", "FAS", new { Type = Request.QueryString["Type"]})">All Regions for Company </a></li>
                        }
                        else
                        {
                            <li class="breadcrumb-item active"><a href="@Url.Action("DashboardLevel3", "FAS")?@Server.UrlDecode(Request.QueryString.ToString())">@ViewBag.Region</a></li>
                        }
                        @if (ViewBag.Zone == null)
                        {
                            <li class="breadcrumb-item active"><a href="@Url.Action("DashboardLevel4", "FAS", new { Type = Request.QueryString["Type"]})">Zones for All Regions</a> </li>

                        }
                        else
                        {
                            <li class="breadcrumb-item active"><a href="@Url.Action("DashboardLevel4", "FAS")?@Server.UrlDecode(Request.QueryString.ToString())">@ViewBag.Zone</a> </li>

                        }
                        @if (ViewBag.Territory == null)
                        {
                            <li class="breadcrumb-item active"><a href="@Url.Action("DashboardLevel4", "FAS", new { Type = Request.QueryString["Type"]})">Territory for all Zones </a></li>

                        }
                        else
                        {
                            <li class="breadcrumb-item active"><a href="@Url.Action("DashboardLevel4", "FAS")?@Server.UrlDecode(Request.QueryString.ToString())"> </a> @ViewBag.Territory</li>

                        }


                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div>

    <section class="content small">

        <div id="Filter" >
            <form id="FASForm" method="post" action="@Url.Action("Details","FAS")">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="card-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed" aria-expanded="false">
                                <i class="fa fa-chevron-circle-down pull-right"></i>
                                Filters
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="panel-collapse in collapse " style="">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label sm">Company</label>
                                    <select2 :options="Companies" @@input="CompanyChange($event);" name="SelectedCompanies" v-bind:value="SelectedCompanies"></select2>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Region</label>
                                    <select2 :options="Regions" multiple @@input="RegionChange($event);" ref="RegionList" name="SelectedRegions" v-bind:value="SelectedRegions"></select2>

                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Zone</label>
                                    <select2 :options="Zones" multiple @@input="ZoneChange($event);" name="SelectedZones" v-bind:value="SelectedZones"></select2>

                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Territory</label>
                                    <select2 :options="Territories" multiple @@input="TerritoryChange($event);" name="SelectedTerritories" v-bind:value="SelectedTerritories"></select2>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label sm">District</label>
                                    <select2 :options="Districts" @@input="DistrictChange($event);" name="SelectedDistricts" v-bind:value="SelectedDistricts"></select2>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label sm">Villages</label>
                                    <select2 :options="Villages" @@input="RegionChange($event);" ref="VillageList" name="SelectedVillages" v-bind:value="SelectedVillages"></select2>

                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Farmers</label>
                                    <select2 :options="Farmers" @@input="FarmerChange($event);" name="SelectedFarmers" v-bind:value="SelectedFarmers"></select2>

                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Crop</label>
                                    <select2 :options="Crops" @@input="CropChange($event);" name="SelectedCrops" v-bind:value="SelectedCrops"></select2>
                                </div>
                            </div>
                            


                            <br />
                            <div class="row">
                                @*<div class="col-md-3">
                <input type="text" class="form-control form-control-sm" id="Search" name="SearchBox" v-model="SearchBox" placeholder="Search" />
            </div>*@
                                <div class="col-md-3">
                                    <label>Date From</label>
                                    <input type="text" class="form-control form-control-sm datepicker" id="DateFrom" name="DateFrom" autocomplete="off" v-model="DateFrom" placeholder="DateFrom" />
                                </div>
                                <div class="col-md-4">
                                    <label>Date To</label>
                                    <input type="text" class="form-control form-control-sm datepicker" id="DateTo" name="DateTo" autocomplete="off" v-model="DateTo" placeholder="DateTo" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary pull-right" type="submit">Filter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="card">
            @*<div class="card-header d-flex p-0">
                <h3 class="card-title p-3">
                    <i class="fa fa-pie-chart mr-1"></i>
                    Sales
                </h3>
                @*<ul class="nav nav-pills ml-auto p-2">
                        <li class="nav-item">
                            <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                        </li>
                    </ul>*@
            @*</div>*@
            <div class="card-body">
            
                <div class="table table-responsive ">

                    <table  class="table table-striped DataTable" style="width:100% !important">
                        <thead>
                            <tr>
                                <th>SrNo </th>
                                <th>Company</th>
                                <th>Region</th>
                                <th>Zone</th>
                                <th>Territory</th>
                                <th>Check In</th>
                                <th>ServerTime</th>
                                <th>UserName</th>
                                <th>Village Name</th>
                                <th>Farmer Name</th>
                                <th>Crop</th>
                                <th>Category</th>
                                <th>Brand</th>
                                <th>Pack Size</th>
                                <th>Acreage</th>
                                <th>Rep.</th>
                                <th>Cell No</th>
                                <th>Relation</th>
                                <th>Images</th>
                            </tr>
                            </thead>

                        <tbody>

                            @if (ViewBag.ListDetails != null)
                                {
                                    int i = 0;
                                    //{{DapperRow, VID = '39471', 
                                    @*ImageForActionID = '01112018_064833-4407', 
                                ServerTime = '11/1/2018 6:48:44 AM',
                                VDate = '11/1/2018 6:48:33 AM',
                                UserName = 'Abdul Ghaffar   (4865)',
                                Company = 'AGRI      ', 
                                Region = 'BLU-1', 
                                Zone = 'LYA', 
                                Territory = 'LAYYAH',
                                DistrictName = 'LAYYAH', 
                                VillageName = 'Sumra Nashaib',
                                FarmerName = 'Ghulam yasin (03047415941)',
                                VStatus = 'On Route', 
                                LikeUnlike = 'Like', Crop = 'WHEAT', Categorydesc = 'MICRONUTRIENTS', Brand = 'Organix-77 Super', 
                                        PackSize = '10-Kgs.', 
                                        TotAcreage = '10', Relation = '', Rep = '', CellNo = '', Registered = '', Lat = '30.9702183333333', Long = '70.9145733333333', LastVisit = '(1) Oct 30 2018  7:43AM'}}*@

                                foreach (var comp in ViewBag.ListDetails)
                                {

                            <tr>
                                <td>@i</td>
                                <td>@comp.Company</td>
                                <td>@comp.Region</td>
                                <td>@comp.Zone</td>
                                <td>@comp.Territory</td>
                                <td>@comp.VDate</td>
                                <td>@comp.ServerTime</td>
                                <td>@comp.UserName</td>
                                <td>@comp.VillageName</td>
                                <td>@comp.FarmerName</td>
                                <td>@comp.Crop</td>
                                <td>@comp.Categorydesc</td>
                                <td>@comp.Brand</td>
                                <td>@comp.PackSize</td>
                                <td>@comp.TotAcreage</td>
                                <td>@comp.Rep</td>
                                <td>@comp.CellNo</td>
                                <td>@comp.Relation</td>
                                <td><a href="#/">Images</a></td>
                            </tr>
                                    i++;
                                }

                            }
                        </tbody>
                    
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script>

        $('.collapse').on('shown.bs.collapse', function () {
            $(this).parent().find(".fa-chevron-circle-down").removeClass("fa-chevron-circle-down").addClass("fa-chevron-circle-up");
        }).on('hidden.bs.collapse', function () {
            $(this).parent().find(".fa-chevron-circle-up").removeClass("fa-chevron-circle-up").addClass("fa-chevron-circle-down");
        });

        var Select2 = Vue.component('select2', {
            props: ['options', 'value'],
            mounted() {
                var vm = this;
                console.log("from mounted:" + this.value);
                $(this.$el)
                    // init select2
                    .select2({ data: this.options })
                    .val(this.value)
                    .trigger('change')
                    // emit event on change.
                    .on('change', function () {
                        vm.$emit('input', $(this).val());
                    });
            },

            watch: {
                value: function (value) {
                    if ([...value].sort().join(",") !== [...$(this.$el).val()].sort().join(","))
                        $(this.$el).val(value).trigger('change');
                },
                options(newOpts) {
                    console.log(this);
                    //$(this.$el).empty().select2({ data: options })
                    $(this.$el).empty().select2({
                        data: newOpts
                    })
                },
            },
            template: '<select class="form-control form-control-sm" style="width:100%"></select>'
        })

            var element = new Vue({
                el: "#Filter",
                data: {
                    Companies: @Html.Raw(Json.Encode(Model.Companies.Select(x=>new { id = x.Compcode, text = x.Compabb }).ToList())),
                    SelectedCompanies: @Html.Raw(Json.Encode(Model.SelectedCompanies)),
                    Regions: @Html.Raw(Json.Encode(Model.Regions.Select(x => new { id = x.ID, text = x.Name }).ToList())),
                    SelectedRegions : @Html.Raw(Json.Encode(Model.SelectedRegions)),
                    Zones: @Html.Raw(Json.Encode(Model.Zones.Select(x => new { id = x.ID, text = x.Name }).ToList())),
                    SelectedZones: @Html.Raw(Json.Encode(Model.SelectedZones)),
                    Territories: @Html.Raw(Json.Encode(Model.Territories.Select(x => new { id = x.ID, text = x.Name }).ToList())),
                    SelectedTerritories: @Html.Raw(Json.Encode(Model.SelectedTerritories)),
                    SearchBox: @Html.Raw(Json.Encode(Model.SearchBox)),
                    DateFrom: '@Html.Raw(Model.DateFrom != null ?  ((DateTime)Model.DateFrom).ToString("yyyy-MM-dd") : "")',
                    DateTo: '@Html.Raw(Model.DateTo != null ? ((DateTime)Model.DateTo).ToString("yyyy-MM-dd") : "")',
                },
                mounted() {
                    var elements = $(this.$el).find(".datepicker").each(function () {
                        $(this).datepicker({
                            format: 'yyyy-mm-dd',
                        });
                    });
                },
                components: {
                    select2: Select2,
                    //datepicker : datepicker
                },
                methods: {
                    CompanyChange($event) {
                        var vm = this;
                        vm.SelectedCompanies = $event;
                        console.log($event);
                        if (vm.SelectedCompanies.length != 0) {
                            $.post("/Home/CompanyChange", { Companies: vm.SelectedCompanies }, function (resp) {
                                console.log(resp);
                                vm.Regions = resp.RegionDropdown;
                                vm.Zones = resp.ZoneDropdown;
                                vm.Territories = resp.TerritoryDropdown;
                            });
                        }
                    },
                    RegionChange($event) {
                        var vm = this;
                        vm.SelectedRegions = $event;
                        console.log($event);
                        if (vm.SelectedRegions.length != 0) {
                            $.post("/Home/RegionChange", { Companies: vm.SelectedCompanies, Regions: vm.SelectedRegions }, function (resp) {
                                console.log(resp);

                                vm.Zones = resp.ZoneDropdown;
                                vm.Territories = resp.TerritoryDropdown;
                            });
                        }
                    },
                    ZoneChange() {
                        var vm = this;
                        vm.SelectedZones = $event;
                        console.log($event);
                        if (vm.SelectedZones.length != 0) {
                            $.post("/Home/ZoneChange", { Companies: vm.SelectedCompanies, Regions: vm.SelectedRegions, Zones : vm.SelectedZones }, function (resp) {
                                vm.Territories = resp.TerritoryDropdown;
                            });
                        }
                    },
                }
            });


    </script>
}
