@model IEnumerable<dynamic>

@{
    ViewBag.Title = "DashboardLevel2";
    string name = "";
    string path = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    SessionUser user = Session["User"] as SessionUser;

    List<string> ColorList = new List<string>() {
"#3CC7F7",
"#F5D58B",
"#A0F58B",
"#F27F91",
"#D6B2EE",
"#F9AD6F",
"#F5B7B1",
"#C2E2F7",
"#88EDF5",
"#D2ADF4"
 };

    int i = 0;
}
<div class="content-wrapper" style="background-color:white !important">


    <div class=" card card-success" id="menucontainer">

        <div class=" card-body" id="result">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="/Home/Dashboard">Home</a></li>
                                <li class="breadcrumb-item active"><a href="#/"></a>@user.CompanyName</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row">

                    @foreach (var element in Model)
    {<div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box " style="background-color:@ColorList[i]">
                        <div class="info-box-content">
                            <a href="#">
                                <span style="color:black!important" data-id="@element.VID" class="info-box-text r1">@element.VName</span>
                                <span style="color:black!important" class="info-box-number"> @element.PP/@element.Total</span>
                                <span class="info-box-number" style="color:black!important;">@element.Per%</span>

                                @*<img src="~/Images/blue1.png" width="80" height="80" />*@
                            </a>
                            
                        </div>

                        <div class="info-box-content">
                            <span style="float:right!important;margin-top:45px">
                                <a href="@Url.Action("Attendance", "Home", new { Region=element.VID })">
                                    <h7 style="font-size:15px;text-align:right;color:black!important"> Details</h7>
                                </a>
                            </span>

                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>

                        i++;
                        if (i >= 10)
                        {
                            i = 0;
                        }
                    }
                </div>
            </div>
        </div>


        <!--
            
        
            
            
            
            
            
            
            
            -->


    </div>
</div>
@section Scripts{
    
    <script>
        $(document).on('click', '.r1', function () {
            var Region = $(this).data("id");
            
            window.location = '@Url.Action("DashboardLevel3", "Home")' + "?Region=" + Region;
            //$("#name").html(Region);
            //alert(Region);
            //var test = $("#name").val();
            //alert(test);
        });


    </script>
    }

